@font-face {
  font-family: IranYekan;
  font-weight: normal;
  src: url(/lib/farsi-fonts/IRANYEKANREGULAR.TTF);
}

@font-face {
  font-family: IranYekan;
  font-weight: bold;
  src: url(/lib/farsi-fonts/IRANYEKANBOLD.TTF);
}

@font-face {
  font-family: IranYekan;
  font-weight: 100;
  src: url(/lib/farsi-fonts/IRANYEKANLIGHT.TTF);
}
